# Ignore all
*

# Add configuration files
!.gitignore
!README.md
!LICENSE
!pyproject.toml
!poetry.lock
!mypy.ini
!.flake8
!lint.sh

# Add python code
!ddpm_from_scratch
!ddpm_from_scratch/models
!ddpm_from_scratch/engines
!ddpm_from_scratch/samplers
!ddpm_from_scratch/**/*.py
!notebooks
!notebooks/*.py

# Add plots
!plots
!plots/*.png
!plots/*.gif
